<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/css/main.css">
        {% block meta %}
        {% endblock %}
        {% block estilos %}
        {% endblock %}
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <header>
        <h1 class="centrar"><a href="/">{{ SITENAME }}</a></h1>
        <nav class="navegacion">
            <ul>
                {% for apage in pages %}
                    <li><a class="boton {% if page == apage%}activo{% endif %}" href="/{{ apage.url }}">{{ apage.title }}</a></li>
                {% endfor %}
                {% for acategoria, null in categories %}
                    <li><a class="boton {% if category == acategoria%}activo{% endif %}" href="/{{ acategoria.url }}" href="/{{ acategoria.url }}">{{ acategoria }}</a></li>
                {% endfor %}
                {% block paginador %}
                {% endblock %}
            </ul>
        </nav>
        </header>
        <main>
            <section>
            {% block contenido %}
                <h1>¡Hola mundo! No olvides cambiar esto en la plantilla que hereda la plantilla base.</h1>
            {% endblock %}
            </section>
        </main>
        <footer style="font-size: xx-small">
            <p>Este sitio es generado con <a href="https://docs.getpelican.com/en/stable/">Pelican.</a></p>
            <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">oscartrigarmatica</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Oscar TrianoG</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Reconocimiento-CompartirIgual 4.0 Internacional License</a>.</p>
        </footer>
    </body>
</html>