{% extends 'base.html' %}
{% block contenido %}
<p>Hola mundo. Más texto "al azar" (el típico lore ipsum que no texto aleatorio). Bueno sí...</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a consectetur massa, sed semper justo. Etiam tincidunt metus enim, faucibus cursus odio placerat et. Etiam imperdiet enim eros, a auctor sapien mollis ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut hendrerit malesuada urna eu scelerisque. Vivamus sed nisl sit amet velit feugiat laoreet. Nunc elementum convallis tellus, vel euismod ex vulputate non. Ut consectetur metus a placerat cursus. Vestibulum varius elementum lectus, vitae mollis ipsum pellentesque ac. </p>
{% endblock %}