{% extends 'base.html' %}
{% import 'paginador.html' as paginador %}
{% block paginador %}
{{ paginador.crear_paginador(articles_page, articles_previous_page, articles_next_page) }}
{% endblock %}
{% block contenido %}
    <section id="articles">
        <ul>
        {% for articulo in articles_page.object_list %}
            <article>
                <header>
                    <h3><a href="{{ articulo.url }}">{{ articulo.title }}</a></h3>
                    <ul>
                        <li><date>{{ articulo.date.date().isoformat() }}</date></li>
                        <li><a href="{{ articulo.category.url }}">{{ articulo.category }}</a></li>
                    </ul>
                </header>
                <summary>
                    {{ articulo.summary }}
                </summary>
                <a href="{{ articulo.url }}">Leer más</a>
            </article>
        {% endfor %}
        </ul>
    </section>
{% endblock %}