{% macro crear_paginador(pagina_actual, pagina_anterior, siguiente_pagina) %}
<li class="flex-end" id="paginador">
<nav class="navegacion"><ul>
    {% if pagina_actual.has_previous() %}
        <li><a class="boton" href="{{ pagina_anterior.url }}">Anterior</a></li>
    {% else %}
        <li><a class="boton">Inicio</a></li>
    {% endif %}
        <li>{% if pagina_actual.number is number %}
            {{ pagina_actual.number }}
        {% else %}
            1
        {% endif %}
        </li>
    {% if pagina_actual.has_next() %}
        <li><a class="boton" href="{{ siguiente_pagina.url }}">Siguiente</a></li>
    {% else %}
        <li><a class="boton">Fin</a></li>
    {% endif %}
</ul></nav>
</li>
{%- endmacro %}