nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li{
    margin-right: 1rem;
}

article p, main p {
    text-indent: 1rem;
}

body {
    color: #222;
    background-color: #EEE;
    line-height: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 60rem){
    body{
        margin: 1rem;
    }
}

@media screen and (min-width: 60rem){
    body{
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.centrar {
    text-align: center;
}
