html {
    height: 100%;
    overflow-y: hidden;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
}

nav ul li{
    flex-basis: auto;
    padding: 0.5rem;
}

article p, main p {
    text-indent: 1rem;
}

main {
    padding: 1rem;
    background-color: #EEE;
    overflow-y: hidden;
    height: 100%;
    align-items: stretch;
    border-radius: 0.5rem;
    border: 1px solid #7777FD;
}

main section {
    height: 100%;
    overflow-y: auto;
}

body {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    color: #222;
    height: 100%;
    background-color: #CCF;
    line-height: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header > h1 a {
    text-decoration-line: none;
    color: #222;
}

@media screen and (max-width: 60rem){
    main{
        margin: 1rem;
    }
}

@media screen and (min-width: 60rem){
    main{
        width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.centrar {
    text-align: center;
}

.boton {
    padding: 0.5rem;
    white-space: nowrap;
    background-color: #7777FE;
    color: white;
    border: 1px solid #9f9fFF;
    border-radius: 0.25rem;
}

.activo {
    background-color: #EEE;
    color: #7777FE;
}
