
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

header h1, section nav {
    text-align: center;
}

footer {
    font-size: small;
}
